.root{
    
}

/* Estilo para el contenedor de imagen y etiquetas */
.hbox {
    -fx-alignment: center; /* Alinear a la izquierda */
    -fx-spacing: 20; /* Espacio entre la imagen y el contenedor de etiquetas */
}

/* Estilo para el logo */
.image-view {
    -fx-fit-width: 250; /* Ancho del logo */
    -fx-preserve-ratio: true; /* Mantener la proporción del logo */
}

/* Títulos */
@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Regular.ttf");
}

.titulo {
    -fx-font-family: "Inter";
    -fx-font-size: 20px;
}

/* Texto común */
@font-face {
    font-family: "Roboto";
    src: url("/fonts/roboto-regular.ttf");
}

.texto-comun {
    -fx-font-family: "Roboto", sans-serif;
    -fx-font-size: 14px;  
}

.labels {
    -fx-font-family: "Roboto";
    -fx-font-size: 12px;
}

.vbox-externo {
    -fx-background-color: rgb(153, 159, 200);
    -fx-background-radius: 20;
    -fx-border-color: #ccc;
    -fx-border-radius: 20;
    -fx-border-width: 1;
    -fx-padding: 20;
}

.vbox-interno {
    -fx-background-color: rgb(197, 173, 208);
    -fx-background-radius: 20;
    -fx-border-color: #ccc;
    -fx-border-radius: 20;
    -fx-border-width: 1;
    -fx-padding: 20;
}

.finderContainer {
    -fx-background-color: #e8e8e8;
    -fx-background-radius: 10;
    -fx-border-radius: 20;
    -fx-border-width: 1;
}
